# Môi trường ảo
moitruongao/
.env

# File tạm của hệ thống, IDE
__pycache__/
*.pyc
.DS_Store
Thumbs.db
.idea/

Chat_Interface/static/uploads/

# Các thư mục node_modules.
Chat_Interface/node_modules/

# File log (nếu có)
*.log

# Data Folder.
Chat_Interface/data/chats/
